<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}" />
  <link href="{{ asset('./plugins/ion-font/css/ionicons.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('css/plugins.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset('logo.jpg') }}">
  <title>{% block title %}{% endblock %}</title>
  <style>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 10px;
    grid-template-areas:
    "name name message message"
    "email email message message"
    "subject subject button button";
  }
  .name { grid-area: name; }
  .email { grid-area: email; }
  .subject { grid-area: subject; }
  .message { grid-area: message; }
  .button { grid-area: button;}
  .borde {
    border: 3px solid #B3936D;
    border-radius: 5px;
    padding: 10px 20px;
  }
</style>
  {% block stylesheets %}{% endblock %}
</head>
{% set current_path = app.request.get('_route') %}
<body class="belly-light-version belly-color-chocolate body-element">
  {% block body %}{% endblock %}

  <script></script>
  <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/ajax-mail.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
  <script>
    function verCarritoId() {
      alert('El ID del carrito es: ' + "{{app.session.get('cartId')}}");
    }
    function eliminarCarritoId() {
      $.ajax({
        type: "GET",
        url: "{{path('removeCartSession')}}",
        dataType: 'json',
        success: function (response, data, textStatus, xhr) {
        }
      });
    }
  </script>
  
  {% block javascripts %}{% endblock %}

</body>

</html>