<footer class="site-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-30 mb-lg-0">
                    <div class="single-footer">
                        <h3 class="footer-title">Contáctanos</h3>
                        <div class="single-footer__details">
                            <div class="contact-widget widget-phone">
                                <div class="widget-logo">
                                    <img src="{{ asset('image/icons/icon-phone--chocolate.png') }}" alt="">
                                </div>
                                <a href="tel:+56987654321"><span class="widget-text" >+ (56)9 8765 4321</span></a>
                            </div>
                            <div class="contact-block">
                                <a href="https://goo.gl/maps/uiLxfsn6TGaV6v2V7" ><p>Dirección: Campero, ciudad de Puerto Williams</p></a> <br>
                                <a href="mailto:castilloj.catalina@gmail.com" target="_blank"><p>Correo: castilloj.catalina@gmail.com</p></a> 
                            </div>
                            <div class="social-links links-rounded-bg">
                                <a href="https://www.facebook.com/CamperoPuertoWilliams/" class="single-social"><i class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-30 mb-lg-0">
                    <div class="row">
                        <form action="{{ asset('plugins/php/mail.php') }}" method="post" id="contact-form" class="form-box-1">
                            <div class="grid-container">
                                <div class="name">
                                    <label class="text-white">Nombres y Apellidos</label>
                                    <input required="required" type="text" name="clientName" placeholder="Nombre y Apellido" class="w-100 borde">
                                </div>
                                <div class="email">
                                    <label class="text-white">Correo Electrónico </label>
                                    <input required="required" type="email" name="clientEmail" placeholder="Correo Electrónico" class="w-100 borde">
                                </div>
                                <div class="subject">
                                    <label class="text-white">Asunto del correo</label>
                                    <input required="required" type="text" name="clientSubject" placeholder="Asunto" class="w-100 borde">
                                </div>
                                <div class="message">
                                    <label class="text-white">Mensaje del correo</label>
                                    <textarea required="required" type="text" rows="6" cols="30" name="clientMessage" class="w-100 borde"
                                    placeholder="Aqui va tu mensaje!"></textarea>
                                </div>
                                <div class="button">
                                    <button class="btn btn-primary mt--30" value="submit" id="submit"
                                    name="submit">Enviar Mensaje</button>
                                    <p class="form-message"></p>
                                </div>
                              </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mb-30 mb-lg-0">
                    <div class="single-footer">
                        <img src="{{asset('image/sercotec/logoSercotecSinFondo.png')}}">
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-lg-6 col-md-6">
                    <p>Proyecto Financiado por SERCOTEC</p>
                </div>
            </div>
        </div>
    </div>
</footer>