<header class="site-header initial-static header-1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-3 col-md-3 offset-md-1 offset-lg-0 col-6 order-md-2">
                <!-- Header Logo -->
                <div class="site-brand text-lg-center">
                    <a href="{{ path('home')}}" class="brand_logo ">
                        <img src="{{ asset('logo.jpg') }}" alt="">
                    </a>
                </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-4 col-12 order-md-1 order-3 mobile-menu">

                <!-- Main Menu Start -->
                <div class="mean-wrapper">
                    <nav class="mean-active">
                        <ul class="main-menu">
                            <li class="menu-item has-dropdown mega-menu"><a href="{{ path('home')}}"
                                    class="menu-link"><span>Inicio</span></a>
                            </li>
                            <li class="menu-item has-dropdown mega-menu"><a href="{{ path('tienda')}}"
                                    class="menu-link"><span>Tienda</span></a>
                            </li>
                            <li class="menu-item has-dropdown mega-menu"><a href="{{ path('contacto')}}"
                                    class="menu-link"><span>Contacto</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-xl-5 col-lg-4 col-md-4 col-6 order-md-3 order-2">

                <!-- Header Right Sidebar -->
                <div class="header-right-options">
                    
                    <div class="single-option">
                        <button class="cart-btn single-option_icon slide-down--btn"><i class="icon ion-md-cart"></i></button>
                        <div class="slide-down--item">
                            <div class="option-box cart-box">
                                <div class="cart-buttons">
                                    <a href="{{ path('carrito')}}" class="theme-btn-outlined">Carrito</a>
                                    <a href="{{ path('home')}}" class="theme-btn-outlined">Resumen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>