<header class="site-header sticky-init fixed-header header-4 site-header--right-menu ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-6 order-first">
                <div class="site-brand">
                    <a href="{{ path('home')}}" class="brand_logo">
                        <img src="{{ asset('logo.jpg') }}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-1 col-6 order-lg-3">
                <div class="header-right-options">                    
                    <div class="single-option">
                        <button class="cart-btn single-option_icon slide-down--btn"><i class="icon ion-md-cart"></i></button>
                        <div class="slide-down--item">
                            <div class="option-box cart-box">
                                <div class="cart-buttons">
                                    <a href="{{ path('carrito')}}" class="theme-btn-outlined">Carrito</a>
                                    <a href="{{ path('resumen')}}" class="theme-btn-outlined">Resumen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-12 order-lg-2 position-mobile">
                <div class="mean-wrapper">
                    <nav class="mean-active">
                        <ul class="main-menu">
                            <li class="menu-item"><a href="{{ path('home')}}"
                                class="menu-link"><span>Inicio</span></a>
                            </li>
                            <li class="menu-item mega-menu"><a href="{{ path('tienda')}}"
                                    class="menu-link"><span>Tienda</span></a>
                            </li>
                            
                            <li class="menu-item mega-menu"><a href="{{ path('contacto')}}"
                                    class="menu-link"><span>Contacto</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</header>