{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Error al comprar{% endblock %}

{% block body %}
<div class="site-wrapper belly-homepage--default">
    {% include 'AppBundle:base:headerStatic.html.twig' %}
    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{path('home')}}">Inicio</a></li>
                <li><a href="{{ path('error')}}">Error</a></li>
            </ul>
        </div>
    </div>
    <div class="page-section mb--50">
        <div class="container">
            <br><br><br>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12 col-12 mt--30 mt-lg-0">
                            <div class="tab-content" id="myaccountContent">
                                <div class="tab-pane fade show active" id="payment-method" role="tabpanel">
                                    <div class="myaccount-content text-center">
                                        
                                      <h3>Error de compra</h3>
                                      <p >A habido un error al realizar la compra</p>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
</div>
<!-- Site Bottom Starts -->
<div class="site-bottom">
    <!-- Footer Starts -->
    {% include 'AppBundle:base:footer.html.twig' %}
    <!-- Footer Ends -->
  </div>
  <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}