{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Home{% endblock %}

{% block body %}
<div class="site-wrapper belly-homepage-white">
    {% include 'AppBundle:base:header.html.twig' %}
    <div class="hero-area">
        <div class="banner-content-wrapper hero-slider-wrapper">
            <div class="banner-content single-slide bg-image" data-bgimage="{{ asset('image/Campero/DSC09786.jpg') }}" >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            {# <h3 class="title--sm text-primary" data-animation="fadeInDown" data-duration="1.5s" data-delay=".8s">Campero</h3> #}
                            <h1 class="title--lg title-seperator--1 sep-left text-white" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">SABOR RÚSTICO Y SALVAJE</h1>
                            <p class="left-align text-white font-weight-bold" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Campero, sabor rústico y salvaje, es un nuevo emprendimiento gastronómico en la ciudad más austral del mundo. Ofrecemos panes y masas dulces de elaboración artesanal, únicos en la ciudad de Puerto Williams.</p>  
                            <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                                <a href="{{path('contacto')}}" class="theme-btn">Conócenos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="home-4__welcome-section section-padding pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="welcome__description text-center">
                        <h3 class="welcome__title--sm" style="text-transform: none">Bienvenido a Campero Puerto Williams</h3>
                        <h2 class="welcome__title--mid text-black"></h2>
                        <p>Todos nuestros productos son elaborados artesanalmente, desde panes hasta masas dulces con sabores únicos en la ciudad de más austral del mundo. </p>
                        <p>Conoce todos nuestros productos</p>
                        <div class="welcome_sig-image  img-border-bottom">
                            {# <img src="image/banner/welcome-image.jpg" alt=""> #}
                            <img src="{{ asset('image/Campero/muffins.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Quick View Modal -->

    <section class="product-section section-padding">
        <div class="container">
            <div class="section-title section-title-sep-3 text-black">
                <h2>Productos</h2>
                <p>Conoce nuestros productos de elaboración artesanal</p>
            </div>
            <div class="product-slider mini-items-slider">
                {% for producto in products %}
                <div class="product__single-slide">
                    <div class="belly-product product-style-2">
                        <!-- imagen producto -->
                        <div class="product__image">
                            <img src="{{asset(producto.img)}}" alt="" style="height: 235px;object-fit: cover;object-position: top;">
                            <div class="hover-content">
                                <a href="{{path('producto',{'slug':producto.slug})}}" class="hover-image">
                                    <img src="{{asset(producto.img)}}" alt="" style="height: 235px;object-fit: cover;object-position: top;">
                                </a>
                            </div>
                            <span class="product-badge badge--sell-chocolate"></span>
                        </div>
                        <!-- descripcion producto -->
                        <div class="product-description text-center">
                            <h3 class="product__caption">
                                <a href="{{path('producto',{'slug':producto.slug})}}">{{producto.name}}</a>
                            </h3>
                            <div class="product__price">
                                <span class="price--new">${{producto.price|number_format }}</span>
                            </div>
                            <div class="product__btn">
                                <a href="{{path('producto',{'slug':producto.slug})}}"
                                    class="theme-btn-outlined theme-btn-outlined--type-2">Ver
                                    Producto</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    

   
    <!-- Home Blog Section -->
    <div class="site-bottom">
        
        {% include 'AppBundle:base:footer.html.twig' %}
    </div>
</div>
{% endblock %}