{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Producto{% endblock %}
{#  agregar clase a body elevet-enable #}
{% block body %}
<div class="site-wrapper belly-homepage--default">
  {% include 'AppBundle:base:headerStatic.html.twig' %}
  <div class="belly-bredcrumb-section">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="{{ path('home')}}">Inicio</a></li>
        <li><a href="#">Producto</a></li>
      </ul>
    </div>
  </div>
  <section class=" section-padding pt-0">
    <div class="container">

      <div class="belly-product belly-product--details product-details--page">
        <div class="row">
          <div class="col-md-5">
            <div class="product__image">
              <div class="product-image-main">
                <img id="zoom_03" src="{{asset(product.images[0].url)}}"
                  data-zoom-image="{{asset(product.images[0].url)}}" />
              </div>
              <div id="product-view-gallary" class="product-view-slider product-view-standered-slider">
                {% for image in product.images %}
                <a href="#" class="gallary-item" data-image="{{asset(image.url)}}"
                  data-zoom-image="{{asset(image.url)}}">
                  <img src="{{asset(image.url)}}" />
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-7">

            <div class="product-description">
              <h3 class="product__caption">{{ product.name}}</h3>
              <div class="product__price">
                <span class="price--new">${{ product.price|number_format }}</span>
              </div>
              <div class="product-description--list">
                <br>
                <p>Marca <a href="" class="brand-tag text-primary">{{ product.brand}}</a></p>
                <p>SKU: <span class="text-primary">CD-00-{{ product.id}}</span> </p>
                <p>Disponibilidad: <span class="text-primary">{% if product.stock>0 %} Stock Disponible {% else %} Sin
                    Stock {% endif %}</span></p>
              </div>
              <div class="product-description--breif ">
                <p class="text-justify">
                  {{ product.description }}
                </p>
              </div>


              <div class="product-buttons--group">
                <div class="single-btn-block count-input-block">
                  <input type="number" class="form-control text-center" value="1" min="1" max="{{product.stock}}"
                    id="product_quantity">
                  <div class="count-input-btns">
                    <button class="inc-ammount count-btn">+</button>
                    <button class="dec-ammount count-btn">-</button>
                  </div>
                </div>
                <div class="single-btn-block">
                  {#<a class="btn theme-btn" onclick="addToCartAjax()">Agregar al Carrito</a>#}
                  <form action="{{path('addToCart')}}" method="POST" id="product-form">
                  {% if product.stock>0 %}
                   <input type="submit" class="btn theme-btn" style="background-color: #B3936D; color: black; vertical-align: middle;" value="Agregar al Carrito"></a>
                  {% else %} <input type="submit" class="btn theme-btn" style="background-color: #B3936D; color: black; vertical-align: middle;" value="Sin Stock" disabled></a>{% endif %}
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Site Bottom Starts -->
  <div class="site-bottom">
    <!-- Footer Starts -->
    {% include 'AppBundle:base:footer.html.twig' %}
    <!-- Footer Ends -->
  </div>
  <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function () {
    $('.body-element').addClass('elevet-enable');
    $( "#product-form" ).submit(function( event ) {
      $(this).append('<input type="hidden" name="product_id" value="'+"{{product.id}}"+'" /> ');
      $(this).append('<input type="hidden" name="variant_id" value="'+"{{product.variants[0].id}}"+'" /> ');
      $(this).append('<input type="hidden" name="quantity_products" value="'+$('#product_quantity').val()+'" /> ');  
      return true;
    });
  });

  function addToCartAjax() {
    {% if app.session.get('cartId') is empty %}
    var cart_id = null;
    {% else %}
    var cart_id = "{{app.session.get('cartId')}}";
    {% endif %}
    /*
    if("{{app.session.get('cartId')}}"== '')
    {
      var cart_id = null; 
      alert('ta vacio');
    }
    else
    {
      alert("{{app.session.get('cartId')}}");
       var cart_id ="{{app.session.get('cartId')}}";
    }*/

    data = {
      "product_id": "{{product.id}}",
      "variant_id": "{{product.variants[0].id}}",
      "quantity_products": $('#product_quantity').val(),
      "cart_id": cart_id
    };

    $.ajax({
      type: "POST",
      url: '{{path('addToCart')}}',
      dataType: 'json',
      data: data,
      success: function (response, data, textStatus, xhr) {
        if (cart_id == null) {
          parametros = { 'cartId': response[0].cart_id }
          var url = Routing.generate('createCartSession', parametros);
          $.ajax({
            type: "POST",
            url: url,
            success: function (response, data, textStatus, xhr) {
              location.reload();
            }
          });
        }

      }
    });
  }

  function addToCart() {
    data = {
      "product_id": "{{product.id}}",
      "variant_id": "{{product.variants[0].id}}",
      "quantity_products": $('#product_quantity').val(),
      "cart_id": cart_id
    };

    $.ajax({
      type: "POST",
      url: '{{path('addToCart')}}',
      dataType: 'json',
      data: data,
      success: function (response, data, textStatus, xhr) {
        if (cart_id == null) {
          parametros = { 'cartId': response[0].cart_id }
          var url = Routing.generate('createCartSession', parametros);
          $.ajax({
            type: "POST",
            url: url,
            success: function (response, data, textStatus, xhr) {
              location.reload();
            }
          });
        }

      }
    });
  }
</script>
{% endblock %}