{% extends 'AppBundle:base:base.html.twig' %}

{% block title %}{{environment_web}} - Tienda{% endblock %}


{% block body %}
<div class="site-wrapper">
    {% include 'AppBundle:base:headerStatic.html.twig' %}

    <!-- Quick View Modal -->
    <div class="belly-bredcrumb-section">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{path('home')}}">Inicio</a></li>
                <li><a href="{{path('tienda')}}">Tienda</a></li>
            </ul>
        </div>
    </div>
    <section class="section-padding pt-0">
        <div class="container">
            <div class="shop-product-wrap grid with-pagination row">
                {% for producto in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-30">
                    <div class="belly-product product-style-2">
                        <!-- imagen producto -->
                        <div class="product__image">
                            <img src="{{asset(producto.img)}}" alt="" style="height: 235px;object-fit: cover;object-position: top;">
                            <div class="hover-content">
                                <a href="{{path('producto',{'slug':producto.slug})}}" class="hover-image">
                                    <img src="{{asset(producto.img)}}" alt="" style="height: 235px;object-fit: cover;object-position: top;">
                                </a>
                            </div>
                        </div>
                        <!-- descripcion producto -->
                        <div class="product-contents">
                            <h3 class="product__caption">
                                <a href="{{path('producto',{'slug':producto.slug})}}">{{producto.name}}</a>
                            </h3>
                            <div class="product__price">
                                <span class="price--new">${{producto.price|number_format }}</span>
                            </div>
                            <div class="product__btn">
                                <a href="{{path('producto',{'slug':producto.slug})}}" class="theme-btn-outlined--type-2">Ver Producto</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Site Bottom Starts -->
    <div class="site-bottom">
        <!-- Footer Starts -->
        {% include 'AppBundle:base:footer.html.twig' %}
        <!-- Footer Ends -->
    </div>
    <!-- Site Footer Ends -->
</div>
<!-- Site Wrapper Ends -->
{% endblock %}